
package DAO;

import java.sql.Connection;
import java.sql.DriverManager;
import java.sql.PreparedStatement;
import java.sql.ResultSet;
import java.sql.SQLException;
import java.sql.Statement;

public class DAOConnectionManager
{
//INSTRUCCIONES: Copiar este archivo y pegarlo como .java en el mismo paquete que se encuentra.
//Luego reemplazar los <> por comillas dobles completando con las propiedades
//de su base de datos
//IMPORTANTE: NO SUBVERSIONAR EL .java que creen a partir de esta copia, este es el archivo que queda en el SVN.
//Fijense de
//poner EXCLUDE FROM COMMIT CUANDO VAN A COMITEAR
	protected String jdbc = "jdbc:microsoft:sqlserver://";
	protected String servidor = <ip-server-mssql>:1433;
	protected String usuario = <user>;
        protected String password = <password>;

	private static DAOConnectionManager DAOCM;

	public static DAOConnectionManager getDAOConectionManager()
	{
            if(DAOCM==null) {
                    DAOCM = new DAOConnectionManager();
            }
            return DAOCM;
	}

	private Connection connect()
	{
            try {
                Class.forName("com.microsoft.jdbc.sqlserver.SQLServerDriver").newInstance();
                String dbConnectString = jdbc + servidor+<;DatabaseName=castroblanco>;
                Connection connection = DriverManager.getConnection(dbConnectString, usuario, password);
                return connection;
            }
            catch(SQLException e) {
                    System.out.println("Error SQL: " + e.getMessage());
                    return null;
            }
            catch(Exception ex) {
                    System.out.println("Mensaje de error: " + ex.getMessage());
                    return null;
            }
	}

	public Connection getConnection()
	{
            return connect();
	}

	public void closeConnection(ResultSet rs, PreparedStatement stmt)
	{
            try {
                    rs.close();
                    stmt.close();
                    DAOCM.getConnection().close();
            }
            catch(Exception ex) {
                    System.out.println("Mensaje de error: " + ex.getMessage());
            }
	}

	public void closeConnection(ResultSet rs, Statement stmt)
	{
            try {
                    rs.close();
                    stmt.close();
                    DAOCM.getConnection().close();
            }
            catch(Exception ex) {
                    System.out.println("Mensaje de error: " + ex.getMessage());
            }
	}

	public void closeConnection(Statement stmt)
	{
            try {
                    stmt.close();
                    DAOCM.getConnection().close();
            }
            catch(Exception ex) {
                    System.out.println("Mensaje de error: " + ex.getMessage());
            }
	}
}
